.tabs {
    ion-tabbar {
        background: $themebg;

        .tab-button {
            color: #154490;
        }
        .tab-button[aria-selected=true] {
            color: $iconcolor;
        }
    }
}
